# Checkpoint 0 
## Do not remove comments that start with: "# @@@" (Those are question tags)

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [2]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a
print(b)

[1, 2, 3, 4, 5, 6]

In [6]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
a[3:]

[4, 5, 6]

In [13]:
# @@@ Question 3: Create a list of numbers from 1 to 20
numbers = list(range(101))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [15]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
hundred = list(range(101))
evens = hundred[::2]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [18]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(p1,p2):
    print(p1/p2)

n1 = 3
n2 = 2
divide(n1,n2)

1.5

In [38]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

uptothirty = list(range(1,31))

for i in uptothirty:
    if uptothirty[i-1] % 15 == 0:
        print("fizzbuzz")
        break
    elif uptothirty[i-1] % 3 == 0:
        print("fizz")
    elif uptothirty[i-1] % 5 == 0:
        print("buzz")
    else:
        print(uptothirty[i-1])

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

In [40]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu = {"Gyro":9, "Burger":9, "Greek Salad":8, "Philly Steak":10}
print(menu)

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [ ]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

In [ ]:
# @@@ Question 9: select all rows with more than and including 400 calories

In [ ]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content

In [ ]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink

In [ ]:
# @@@ Question 12: what is the average calorie across all items?

In [ ]:
# @@@ Question 13: how many different categories of beverages are there?

In [ ]:
# @@@ Question 14: what is the average # calories for each beverage category?